<header id="header-wrapper">
  <%= link_to root_path, id:"root-path" do %>
  <%= image_tag "fujii_data_rogo.png", class:"top-img"%>
  <% end %>
  <%= link_to '当院について', "/posts/#{:id}" %>
</header>

<body>
  <div class = "main">
    <div class = "main-left">
    </div>
    <div class = "main-center">
      <%= image_tag "gaikan.png", class:"gaikan"%>
      <h1>
      院長挨拶
      </h1>
      初めまして、 藤井栄吾と申します。東住吉区中野で開院しまして、
      9年目になります。私は38年間大阪府立高校の保健体育教師をしていました。
      最後の学校が東住吉高校で終わりましたので、
      それが縁で学校の近くに開院しております。
      柔整の免許は大学時代に取っておりましたので在職中は各運動部の生徒、
      先生方の治療を多く経験しました。現在は、学生さんから高齢者さんまで、
      腰痛・肩痛・膝痛 等、あらゆる痛みに少しでも、改善してもらおうと、
      手技･マッサージ・ストレッチ等、患者さんにあう治療法を探して、望んでいます。
      「日々研修、日々努力」をもっとうに、
      地域の皆様に密着した整骨院をめざして頑張っております。
      また近年100歳の時代とも言われ、高齢者さんに、
      ストレッチや簡単なトレーニングで、
      元気に日常生活を「歩いて100歳を迎える」を合い言葉に、
      簡単長寿トレーニングの指導も行っています。
      いろいろ多義に渡り行っておりますが、
      基本は患者様の「健康と長寿」に寄与したいという思いで行っていますので、
      お気軽にご利用ください。
    </div>
      <%= image_tag "iinchou_aisatsu.JPG", class:"gaikan"%>

      
    <div class = "main-right">
    
    </div>
  </div>
</body>
